<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <!-- This check must be directly under Checker -->
  <module name="FileTabCharacter"/>

  <module name="TreeWalker">
    <!-- These belong inside TreeWalker -->
    <module name="Indentation"/>
    <module name="WhitespaceAround"/>
    <module name="NoWhitespaceBefore"/>
    <module name="NeedBraces"/>
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
  </module>
</module>

