name: Java CI/CD Pipeline
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: read

env:
  AWS_REGION: us-east-1
  ECR_REPO: <get-from-aws>
  IMAGE_NAME: temi-app
  IMAGE_TAG: ${{ github.run_number }}

jobs:

  # -----------------------------------------------------
  # 1. BUILD JOB
  # -----------------------------------------------------
  build:
    name: Build Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        

      - name: Set Up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build Application (Skip Tests)
        run: mvn -B clean package -DskipTests=true

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: target/*.war
          retention-days: 7

  # -----------------------------------------------------
  # 2. UNIT TESTS JOB
  # -----------------------------------------------------
  unit-tests:
    name: Run Unit Tests + Coverage
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        

      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Unit Tests With Coverage
        run: mvn -B verify

      - name: Upload Jacoco Report (if exists)
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/
          retention-days: 7
          if-no-files-found: ignore

      - name: Upload Compiled Classes
        uses: actions/upload-artifact@v4
        with:
          name: compiled-classes
          path: target/classes/
          retention-days: 7

      - name: Upload JUnit Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: target/surefire-reports/
          retention-days: 7


  # -----------------------------------------------------
  # 3. CHECKSTYLE JOB
  # -----------------------------------------------------
  checkstyle:
    name: Checkstyle Analysis
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Checkstyle
        run: mvn checkstyle:check || true

      - name: Upload Checkstyle Report
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: target/checkstyle-result.xml
          retention-days: 7
          if-no-files-found: ignore


  # -----------------------------------------------------
  # 4. SONARCLOUD SCAN
  # -----------------------------------------------------
  sonar:
    name: SonarCloud Static Code Analysis
    environment: CI/CD
    permissions:
     contents: read
     pull-requests: write
     checks: write
    needs: 
      - checkstyle
      - unit-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Download Compiled Classes
        uses: actions/download-artifact@v4
        with:
          name: compiled-classes
          path: target/classes/

      - name: Download Jacoco Report
        uses: actions/download-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

      - name: Download JUnit Reports
        uses: actions/download-artifact@v4
        with:
          name: junit-results
          path: target/surefire-reports/

      - name: Download Checkstyle Report
        uses: actions/download-artifact@v4
        with:
          name: checkstyle-report
          path: target/
      
      - name: Sonar scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn sonar:sonar \
          -Dsonar.projectName="github-actions-java-ecs" \
          -Dsonar.java.binaries=target/classes \
          -Dsonar.junit.reportPaths=target/surefire-reports \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
          -Dsonar.externalRules.checkstyle.reportPaths=target/checkstyle-result.xml
  
  